@using BLL.Entities
@model Web.Models.DoctorViewModel

@{
    ViewBag.Title = "All Doctors";
}

<h2>List of all doctors:</h2>
<table class="table">
    <tr>
        <td>
            N
        </td>
        <td>
            Name
        </td>
        <td>
            Surname
        </td>
        <td>
            Specialization
        </td>
        <td>
            
        </td>
    </tr>
    @foreach (var doctor in Model.DoctorsDTO)
    {
        <tr>
            <td>
                @doctor.DoctorId
            </td>
            <td>
                @doctor.Name
            </td>
            <td>
                @doctor.Surname
            </td>
            <td>
                @doctor.Specization
            </td>
            <td>
                @Html.ActionLink("Click here", "DoctorsVisits", new { id = doctor.DoctorId})
            </td>
        </tr>
    }
</table>